<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <h1>Home</h1>
    <h2>This is a nodejs tutorial</h2>
    <%- include('../partials/nav.ejs') %>
    <div class="content blogs">
        <form action="/blogs" method="POST">
            <label for="title">blog title</label>
            <input type="text" name="title" id="title" required>
            <label for="snippet">snippet</label>
            <input type="text" name="snipper" id="snippet" required>
            <label for="body">body</label>
            <textarea name="body" id="body" cols="30" rows="10" required></textarea>
            <button>submit</button>
        </form>
        
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>