<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>Home</h1>
    <h2>This is a nodejs tutorial</h2>
    <%- include('./partials/nav.ejs') %>
    <div class="content blogs">
        
        <h1>404 page not found </h1>
        <h2> content of 404 page</h2>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>