<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>Home</h1>
    <h2>This is a nodejs tutorial</h2>
    <%- include('./partials/nav.ejs') %>
    <div class="content blogs">
        <h2>About page</h2>
        <p>Lorem upsum ipsum</p>
        <p>Lorem upsum ipsum</p>
        <p>Lorem upsum ipsum</p>
        <p>Lorem upsum ipsum</p>
        <p>Lorem upsum ipsum</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>